{% extends "base.html" %}

{% block title %}post_search.html{% endblock %}

{% block content %}
  <h1>Blog Search</h1>
  <br>

  <form class="form-inline" action="." method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.search_word|add_label_class:"font-weight-bold" }}
      {{ form.search_word|add_class:"form-control mx-sm-3"|attr:"autofocus" }}
      <input type="submit" value="Submit" class="btn btn-primary btn-sm"/>
    </div>
  </form>

  <br><br>

  {% if object_list %}
    {% for post in object_list %}
      <h2><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h2>
      {{ post.modify_dt|date:"N d, Y" }}
      <p>{{ post.description }}</p>
    {% endfor %}
  {% elif search_term %}
    <b><i>Search Word({{ search_term }}) Not Found !</i></b>
  {% endif %}
{% endblock %}