{% extends "base.html" %}

{% block title %}post_detail.html{% endblock %}

{% block extra-style %}
{% endblock %}

{% block content %}
  <span style="display:none;">{{ object.update_counter }}</span>
  <div class="post-body">
    <!--게시글 카테고리 및 제목-->
    <div class="row">
      <div class="col-md-12">
        <h3>
          {{ object.category }}&nbsp;|&nbsp;
          {{ object.title }}
        </h3>
      </div>
    </div>

    <br style="margin: 3px 0px 10px 0px;">

    <!--작성자-->
    <div class="row">
      <div class="col-md-12">
        <h5>{{ object.owner.last_name }}님</h5>
      </div>
    </div>

    <br style="margin: 10px 0px 10px 0px;">

    <!--작성일 및 조회수/추천수-->
    <div class="row" style="background-color:#f0f0f0; border-top: 3px solid #afeeee; padding: 5px 0px 5px 0px;">
      <div class="col-md-6" align="left">
        <i class="fa fa-eye"></i>&nbsp;{{ object.hit }}&nbsp;&nbsp;|&nbsp;&nbsp;
        <i class="fas fa-thumbs-up"></i>&nbsp;7
      </div>
      <div class="col-md-6" align="right">
        <i class="fas fa-clock"></i>&nbsp;{{ object.create_dt|date:"Y.m.d" }}
      </div>
    </div>

    <!--게시글 내용-->
    <div class="body">
      <p style="white-space: normal;">{{ object.content|linebreaks }}</p>
    </div>

    <!--게시글 추천-->
    <div class="row justify-content-center">
      <button type="button" class="btn btn-info">
        <i class="fas fa-thumbs-up"></i>&nbsp;
        7&nbsp;
        추천
      </button>
    </div>

    <br style="margin: 10px 0px 10px 0px;">

    <!--목록 및 신고-->
    <div class="row" style="background-color:#f0f0f0; padding: 5px 0px 5px 0px; border-bottom: 3px solid #afeeee;">
      <div class="col-md-6" align="left">
        <button type="button" class="btn btn-outline-info btn-sm"><i class="fas fa-list"></i>&nbsp;목록</button>&nbsp;
        <button type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-bell-slash"></i>&nbsp;신고</button>
      </div>
    </div>

    <br style="margin: 10px 0px 10px 0px;">

    <!--태그-->
    <div>
      <b>TAGS</b> <i class="fas fa-tag"></i>
      {% load taggit_templatetags2_tags %}
      {% get_tags_for_object object as "tags" %}
      {% for tag in tags %}
      <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
      {% endfor %}
      &emsp;
      <a href="{% url 'blog:tag_cloud' %}">
        <span class="btn bnt-info btn-sm">TagCloud</span>
      </a>
    </div>

    <hr style="margin: 10px 0px 10px 0px;">

    <!--disqus 댓글 API-->
    <div id="disqus_thread"></div>

    <br style="margin: 10px 0px 10px 0px;">

    <!--이전글 및 다음글-->
    <div class="row" style="background-color:#f0f0f0; padding: 5px 0px 5px 0px; border-top: 3px solid #afeeee; border-bottom: 3px solid #afeeee;">
      <div class="col-md-12">
        {% if object.get_next %}
        <a href="{{ object.get_next.get_absolute_url }}" title="다음글">
          <i class="fas fa-arrow-circle-up"></i>&nbsp;{{ object.get_next }}
        </a>
        {% endif %}
      </div>
      <br style="margin: 10px 0px 10px 0px;">
      <div class="col-md-12">
        {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}" title="이전글">
          <i class="fas fa-arrow-circle-down"></i>&nbsp;{{ object.get_previous }}
        </a>
        {% endif %}
      </div>
    </div>

    <br style="margin:10px 0px 10px 0px;">
  </div>
{% endblock %}

{% block extra-script %}
  <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
      var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://pydjango-web-programming-qfkwx6pvcw.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}