{% extends "base.html" %}

{% block title %}post_all.html{% endblock %}

{% block content %}
    <div class="row" align="center">
        <h2>Community</h2>
    </div>

    <hr style="margin:10px 0px 10px 0px; border-top: 5px solid #afeeee;">

    <!--공지사항-->
    {% for post in posts %}
        {% if post.category == "공지사항" %}
        <div class="row" style="font-weight:bold;">
            <div class="col-md-2" align="center">
                공지사항
            </div>
            <div class="col-md-6">
                <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
<!--                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>-->
            </div>
            <div class="col-md-2" align="center">
                관리자
            </div>
            <div class="col-md-2" align="center">
                {{ post.create_dt|date:"Y.m.d" }}
            </div>
        </div>

        <hr style="margin:10px 0 10px 0px;">
        {% endif %}
    {% endfor %}

    <!--인기글(공지사항 제외)-->


    <!--게시글 총합-->
    {% for post in posts %}
    <div class="row">
        <div class="col-md-2" align="center">
            {{ post.category }}
        </div>
        <div class="col-md-6">
            <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>&nbsp;&nbsp;
            <i class="fas fa-thumbs-up"></i>&nbsp;{{ post.like.count }}
        </div>
        <div class="col-md-2" align="center">
            {{ post.owner.last_name }}
        </div>
        <div class="col-md-2" align="center">
            {{ post.create_dt|date:"Y.m.d" }}
        </div>
    </div>

    <hr style="margin:10px 0 10px 0px;">
    {% endfor %}

    <!--페이징-->
    <div align="center" align="center">
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i>&nbsp;이전 페이지</a>
            {% endif %}

            {{ page_obj.number }}&nbsp;<b>/</b>&nbsp;{{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-left"></i>&nbsp;다음 페이지</a>
            {% endif %}
        </span>
    </div>

    <br style="margin: 10px 0px 10px 0px;">
{% endblock %}