{% extends "base.html" %}

{% block title %}mypage_main.html{% endblock %}

{% block content %}
    <div class="row">
        <h2>My Page</h2>
    </div>

    <hr style="margin: 10px 0px 10px 0px;">

    <div class="row">
        <!--사이드 바 메뉴-->
        <div class="col-md-3" style="text-align:center;">
            <h3>소제목1</h3>
            <hr>
            <h4>인덱스1</h4>
            <h4>인덱스1</h4>
            <h4>인덱스1</h4>
            <br style="margin:10px 0px 10px 0px;">

            <h3>소제목2</h3>
            <hr>
            <h4>인덱스1</h4>
            <h4>인덱스1</h4>
            <h4>인덱스1</h4>
            <br style="margin:10px 0px 10px 0px;">

            <h3>소제목3</h3>
            <hr>
            <h4>인덱스1</h4>
            <h4>인덱스1</h4>
            <h4>인덱스1</h4>
            <br style="margin:10px 0px 10px 0px;">
        </div>

        <!--본문 내용-->
        <div class="col-md-9" style="border-left: 1px solid #e5e5e5;">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </p>
        </div>
    </div>

    <br style="margin:5px 0px 5px 0px;">
{% endblock %}