<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} DJango Web Programming {% endblock %}</title> <!--block 태그를 통해 공통되는 부분에 적용한다-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block extra-style %}{% endblock %}
</head>
<body style="padding-top:90px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <span class="navbar-brand mx-5 mb-0 font-weight-bold font-italic">Django - Python Web Programming</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-1 btn btn-primary">
                    <a class="nav-link text-white" href="{% url 'home' %}">HOME</a> <!--첫 페이지로 이동-->
                </li>
                <li class="nav-item mx-1 btn btn-primary">
                    <a class="nav-link text-white" href="{% url 'bookmark:index' %}">BOOKMARK</a> <!--북마크 페이지로 이동-->
                </li>
                <li class="nav-item mx-1 btn btn-primary">
                    <a class="nav-link text-white" href="{% url 'blog:index' %}">BLOG</a> <!--블로그 페이지로 이동-->
                </li>
                <li class="nav-item mx-1 btn btn-primary">
                    <a class="nav-link text-white" href="{% url 'photo:index' %}">PHOTO</a> <!--사진 페이지로 이동-->
                </li>
                <li class="nav-item dropdown mx-1 btn btn-primary">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Add</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'bookmark:add' %}">Bookmark</a>
                        <a class="dropdown-item" href="{% url 'blog:add' %}">Post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Album</a>
                        <a class="dropdown-item" href="">Photo</a>
                    </div>
                </li>
                <li class="nav-item dropdown mx-1 btn btn-primary">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Change</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'bookmark:change' %}">Bookmark</a>
                        <a class="dropdown-item" href="{% url 'blog:change' %}">Post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">Album</a>
                        <a class="dropdown-item" href="">Photo</a>
                    </div>
                </li>
                <li class="nav-item mx-1 btn btn-primary">
                    <a class="nav-link text-white" href="#" data-toggle="dropdown">UTIL</a> <!--유틸 페이지로 이동-->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'admin:index' %}">ADMIN</a> <!--어드민 페이지로 이동-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'blog:post_archive' %}">ARCHIVE</a> <!--아카이브 페이지로 이동-->
                        <a class="dropdown-item" href="{% url 'blog:search' %}">SEARCH</a> <!--검색 페이지로 이동-->
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2" action="" method="post">
                {% csrf_token %} <!--csrf 토큰 적용-->
                <input class="form-control mr-sm-2" type="search" placeholder="global search" name="search_word"> <!--검색 인풋-->
            </form>
            <ul class="navbar-nav ml-5 mr-5">
                <li class="nav-item dropdown mx-1 btn btn-primary">
                    {% if user.is_active %} <!--로그인 상태일때-->
                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                        <i class="fas fa-user"></i>&ensp;
                        {% firstof user.get_short_name user.get_username %}&ensp;
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                    </div>
                    {% else %} <!--로그인 상태가 아닐때-->
                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                        <i class="fas fa-user"></i>&ensp;
                        Anonymous&ensp;
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    {% block extra-script %}{% endblock %}
</body>
</html>