{% extends 'base.html' %} <!--base.html 파일을 상속 받는다-->

{% load static %}

{% block title %}home.html{% endblock %} <!--title 블록을 재정의-->

{% block extra-style %}
<style type="text/css">
    .home-image {
        background-image: url("{% static 'img/lion.jpg' %}");
        background-repeat: no-repeat;
        background-positon: center;
        background-size: 100%;
        height: 500px;
        border-top: 10px solid #ccc;
        border-bottom: 10px solid #ccc;
        padding: 20px 0 0 20px;
    }
    .title {
        color: #c80;
        font-weight: bold;
    }
    .powered {
        position: relative;
        top: 77%;
        color: #cc0;
        font-style: italic;
    }
</style>
{% endblock %}

{% block content %} <!--content 블록을 재정의-->
    <div class="home-image">
        <h2 class="title">Django - Python Web Programming</h2>
        <h4 class="powered"><i class="fa fa-arrow-circle-right"></i> powered by Django and Bootstrap</h4>
    </div>

    <hr style="margin: 10px 0;">

    <div class="row text-center">
        <div class="col-sm-6">
            <h3>Bookmark App</h3>
            <p>
               Bookmark is a Uniform Resource Identifier (URI)
                that is stored for later retrieval in any of various storage formats.
                You can store your own bookmarks by Bookmark application.
                It's also possible to update or delete your bookmarks.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>Blog App</h3>
            <p>
               This application makes it possible to log daily events or write your own interests
                such as hobbies, techniques, etc.
                A typical blog combines text, digital images, and links to other blogs, web pages,
                and other media related to its topic.
            </p>
        </div>
    </div>
{% endblock content %}

{% block footer %} <!--footer 블록의 재정의-->
<footer class="fixed-bottom bg-info">
    <div class="text-white font-italic text-right mr-5">
        Copyright &copy; 2021 DjangoBook By shkim.
    </div>
</footer>
{% endblock %}